{% extends "::base.html.twig" %}

{% block body %}
    <div class="homepage" ng-controller="HomepageController as homepage">
        <a class="statistic-btn btn btn-warning btn-lg" href="{{ path('statistic') }}">
            <span class="glyphicon glyphicon-stats"></span>
        </a>
        <toaster-container toaster-options="{'time-out': 5000, 'limit': 5, 'close-button':true, 'prevent-duplicates': true}"></toaster-container>
        {% if app.user and app.user.room != null %}
            <button type="button" class="btn btn-success btn-lg btn-block" ng-click="homepage.return('{{ path('room', { 'id': app.user.room.id }) }}')">
                {{ 'room.return'|trans({}, "form") }}
            </button>
            <br>
        {% endif %}
        <p class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock" id="new-room-password"></span>
            </span>
            <input type="password" class="form-control" ng-model="homepage.newPassword" placeholder="{{ 'room.placeholder.newPassword'|trans({}, "form") }}" aria-describedby="new-room-password">
        </p>
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="homepage.create()">
            {{ 'room.create'|trans({}, "form") }}
        </button>
        <br>
        <p class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-tag" id="room-id"></span>
            </span>
            <input type="number" min="0" class="form-control" ng-model="homepage.roomId" placeholder="{{ 'room.placeholder.id'|trans({}, "form") }}" aria-describedby="room-id">
        </p>
        <p class="input-group">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-lock" id="room-password"></span>
            </span>
            <input type="password" class="form-control" ng-model="homepage.password" placeholder="{{ 'room.placeholder.oldPassword'|trans({}, "form") }}" aria-describedby="room-password">
        </p>
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="homepage.enter()">
            {{ 'room.enter'|trans({}, "form") }}
        </button>
        {% if rooms %}
            <div style="position: fixed;right: 10px;top: 10px;width: 300px;">
                <h3 style="text-align: center">Комнаты</h3>
                <ul class="list-group">
                    {% for room in rooms %}
                        <li class="list-group-item">
                            <span class="badge">
                                <span>Владелец: {{ room.author.fullname }}</span>
                            </span>
                            <small style="cursor: pointer;" class="label label-primary" ng-click="homepage.roomId = {{ room.id }}">{{ room.id }}</small>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">Персональный токен: {{ token }}</p>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script>
        (function() {
            "use strict";

            angular
            .module ('musicpoll', [ 'ngMaterial', 'ngAnimate'])
            .config (function($interpolateProvider) {
                $interpolateProvider.startSymbol('[[ ').endSymbol(' ]]');
            })
            .constant ("Config", {
                ROUTING: {
                    enter:  '{{ path('enter') }}',
                    create: '{{ path('create') }}'
                },
                USERID: {{ app.user ? app.user.id : 0 }}
            });
        })();
    </script>
    {% javascripts
        '@MainBundle/Resources/public/js/Homepage/Controllers/*'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}