<li class="mix panel panel-primary item-{{ entity.id }}" data-count="{{ entity.counter }}">
    <div class="panel-heading pull-right">
        <span class="badge">
            <span style="cursor: pointer;" class="glyphicon glyphicon-hand-up js-ajax" data-url="{{ path('vote', {'id': entity.id, 'choose': 'true'}) }}" aria-hidden="true"></span>
            <span style="cursor: pointer;" class="glyphicon glyphicon-hand-down js-ajax" data-url="{{ path('vote', {'id': entity.id, 'choose': 'false'}) }}" aria-hidden="true"></span>
            <span style="cursor: pointer;" class="glyphicon glyphicon glyphicon-play js-play-song"></span>
            {% if is_granted('ROLE_ADMIN') %}
                <span style="cursor: pointer;" class="glyphicon glyphicon glyphicon-remove js-ajax" data-url="{{ path('remove', {'id': entity.id}) }}" aria-hidden="true"></span>
            {% endif %}
            <span class="js-counter">{{ entity.counter }}</span>
        </span>
    </div>
    <div class="panel-body">
        {{ entity.name }}
    </div>
    <div class="panel-footer">
        {% include 'MainBundle:Main/Theme:' ~ entity.type|lower ~'-template.html.twig' %}
    </div>
</li>